<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}}</title>
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="{{asset "/apple-touch-icon.png"}}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{asset "favicon-32x32.png"}}"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{asset "favicon-16x16.png"}}"
    />
    <link rel="manifest" href="{{asset "site.webmanifest"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <style>
        @import
        url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
        @import
        url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
    </style>
      {{ghost_head}}
        {{! Outputs important meta data and settings, should always be in <head> }}
</head>