{{!< default}}
{{! Home post }}
<section class="home-hero">
    <div class="home-hero-content min-h-[70vh]">
        <h2 class="home-hero-content__title">
            {{@site.title}}
        </h2>
        <p class="home-hero-content__description">
            {{@site.description}}
        </p>
        <h4 class="home-hero-content__subscribe-title">
            Subscribe to Our Newsletter
        </h4>
        <form data-members-form="subscribe" class="home-subscribe-form">
            <div class="mb-4">
                <input
                    data-members-label="true"
                    type="hidden"
                    value="Newsletter"
                />
                <input
                    data-members-email="true"
                    required="true"
                    type="email"
                    placeholder="email address"
                    class="home-subscribe-form__input"
                />
                <input
                    type="submit"
                    value="Submit"
                    class="home-subscribe-form__submit"
                />
            </div>

        </form>
    </div>
</section>
{{#get
    "posts"
    include="tags"
    filter="featured:true"
    limit="8"
    as |featured_posts|
}}
    <section class="home-featured-section">
        <h3 class="home-featured-section__heading">
            {{#if featured_posts}}
                Articles
            {{/if}}
        </h3>
        <div class="home-featured-grid">

            {{#foreach featured_posts as |featured_post|}}
                <div class="home-featured-grid__item">
                    <article class="home-featured-post h-[282px]">
                        <header>
                            {{#if featured_post.feature_image}}
                                <a href="{{featured_post.url}}">
                                    <img
                                        class="home-featured-post__image"
                                        src="{{featured_post.feature_image}}"
                                        alt="post thumbnail"
                                    />
                                </a>
                            {{else}}
                                <a href="{{url}}">
                                    <img
                                        class="w-full max-h-40"
                                        src="{{asset "img/default.png"}}"
                                        alt="post thumbnail"
                                    />
                                </a>
                            {{/if}}
                            <div class="home-featured-post-body">
                                <time
                                    class="home-featured-post-body__date"
                                    datetime="{{date format="YYYY-MM-DD"}}"
                                >
                                    {{date format="MMMM DD, YYYY"}}
                                </time>
                                <div class="home-featured-post-body__actions">
                                    <a class="mx-0.5">
                                        <img
                                            src="{{asset "img/Share.svg"}}"
                                            alt="share"
                                        /></a>
                                </div>
                            </div>
                        </header>
                        <main class="px-5 my-3">
                            <a href="{{featured_post.url}}">
                                <h5 class="home-featured-title">
                                    {{featured_post.title}}
                                </h5>
                            </a>
                        </main>
                        <footer class="my-2">
                            <ul class="flex flex-row flex-wrap justify-evenly">
                                {{#foreach featured_post.tags}}
                                    <li
                                        class="inline-flex flex-row self-center my-1 text-left text-gray-500 align-middle text-xxs"
                                    >
                                        {{name}}<span
                                            class="text-sm text-black"
                                        > &bull; &nbsp;</span>
                                    </li>
                                {{/foreach}}
                            </ul>
                        </footer>
                    </article>
                </div>
            {{/foreach}}
        </div>
    </section>
{{/get}}
{{! <script>
    var subscribeBtn = document.querySelector(".home-subscribe-form__submit")
    subscribeBtn.addEventListener('click', function () { subscribeClick = new
    Toast({message: `Confirm your email, a confirmation link has been sent to
    your email address`}) })
</script> }}