{{!< default}}
{{#get "posts" include="tags" limit="1" filter="tags:hash-home" as |post|}}
    {{#foreach post as |home_post|}}
        {{! Home post }}
        <section class="flex flex-col md:flex-row hero">
            <div
                class="flex flex-col justify-center h-screen px-8 md:w-3/5 md:pl-14 md:pr-9"
            >
                <h2
                    class="text-2xl font-bold text-center font-dmsans md:text-left md:font-medium md:text-4xl md:w-4/5"
                >
                    {{#if home_post.title}}
                        {{home_post.title}}
                    {{else}}
                        Welcome this is contentdots custom theme
                    {{/if}}
                </h2>
                <p
                    class="my-5 text-xs text-center text-gray-700 md:w-3/5 md:text-left md:text-base md:font-normal md:my-8 font-dmsans"
                >
                    {{#if home_post.content}}
                        {{home_post.content}}
                    {{else}}
                        Create a post and tag it #home for the content to show
                        here
                    {{/if}}
                </p>
                <h4
                    class="mb-3 text-sm font-bold text-center text-gray-900 lowercase md:text-left font-dmsans md:font-bold md:text-base md:mb-4"
                >
                    Subscribe to Our Newsletter
                </h4>
                <div>
                    <form
                        class="flex flex-col text-center align-middle md:text-left"
                    >
                        <div class="mb-4">
                            <input
                                type="email"
                                placeholder="email address"
                                class="h-8 p-2 text-xs font-normal text-gray-900 placeholder-black outline-none font-input rounded-l-md focus:ring-0 font-dmsans md:w-60"
                            />
                            <input
                                type="button"
                                value="Submit"
                                class="top-0 h-8 p-2 m-0 -mt-2 text-xs text-white bg-black outline-none font-montserrat rounded-r-md"
                            />
                        </div>
                        <div
                            class="flex flex-row justify-center md:justify-start"
                        >
                            <input
                                id="privacyPolicy"
                                type="checkbox"
                                class="w-3 h-3"
                            />
                            <label
                                for="privacyPolicy"
                                class="font-normal font-dmsans text-xxs"
                            >
                                &nbsp;By Subscribing, you agree to our
                                <a href="#">Privacy Policy</a></label>
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="hidden md:w-2/5 md:flex md:flex-col md:justify-center md:items-center md:px-5"
            >
                {{#if home_post.feature_image}}
                    <img
                        class="w-full"
                        src="{{home_post.feature_image}}"
                        alt="a hero image"
                    />
                {{else}}
                    <img
                        class="w-full"
                        src="{{asset "img/yellowLarge.png"}}"
                        alt="a hero image"
                    />
                {{/if}}

            </div>
        </section>
    {{else}}
        {{! No home content }}
        <section class="flex flex-col md:flex-row hero">
            <div
                class="flex flex-col justify-center h-screen px-8 md:w-3/5 md:pl-14 md:pr-9"
            >
                <h2
                    class="text-2xl font-bold text-center font-dmsans md:text-left md:font-medium md:text-4xl md:w-4/5"
                >
                    Welcome this is contentdots custom theme
                </h2>
                <p
                    class="my-5 text-xs text-center text-gray-700 md:w-3/5 md:text-left md:text-base md:font-normal md:my-8 font-dmsans"
                >
                    Create a post and tag it #home for the content to show here
                </p>
                <h4
                    class="mb-3 text-sm font-bold text-center text-gray-900 lowercase md:text-left font-dmsans md:font-bold md:text-base md:mb-4"
                >
                    Subscribe to Our Newsletter
                </h4>
                <div>
                    <form
                        class="flex flex-col text-center align-middle md:text-left"
                    >
                        <div class="mb-4">
                            <input
                                type="email"
                                placeholder="email address"
                                class="h-8 p-2 text-xs font-normal text-gray-900 placeholder-black outline-none font-input rounded-l-md focus:ring-0 font-dmsans md:w-60"
                            />
                            <input
                                type="button"
                                value="Submit"
                                class="top-0 h-8 p-2 m-0 -mt-2 text-xs text-white bg-black outline-none font-montserrat rounded-r-md"
                            />
                        </div>
                        <div
                            class="flex flex-row justify-center md:justify-start"
                        >
                            <input
                                id="privacyPolicy"
                                type="checkbox"
                                class="w-3 h-3"
                            />
                            <label
                                for="privacyPolicy"
                                class="font-normal font-dmsans text-xxs"
                            >
                                &nbsp;By Subscribing, you agree to our
                                <a href="#">Privacy Policy</a></label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- hero image -->
            <div
                class="hidden md:w-2/5 md:flex md:flex-col md:justify-center md:items-center md:px-5"
            >
                <img
                    class="w-full"
                    src="{{asset "img/yellowLarge.png"}}"
                    alt="a hero image"
                />
            </div>
        </section>
    {{/foreach}}
{{/get}}
{{#get
    "posts"
    include="tags"
    filter="featured:true"
    limit="20"
    as |featured_posts|
}}

    <section class="px-8 my-8">
        <h3
            class="mb-2 text-sm font-medium text-black font-dmsans md:font-medium md:text-3xl"
        >
            {{#if featured_posts}} Articles {{else}}
                Created featured posts to display them here
            {{/if}}
        </h3>
        <div class="grid grid-cols-12 gap-6">

            {{#foreach featured_posts as |featured_post|}}
                <div class="col-span-12 sm:col-span-4 lg:col-span-3">
                    <article
                        class="max-w-xs mx-auto my-8 overflow-hidden border border-gray-300 rounded-lg cursor-pointer place-self-center post-item"
                    >
                        <header>
                            {{#if featured_post.feature_image}}
                                <a href="{{featured_post.url}}">
                                    <img
                                        class="w-full max-h-40"
                                        src="{{featured_post.feature_image}}"
                                        alt="post thumbnail"
                                    />
                                </a>
                            {{/if}}
                            <div
                                class="flex flex-row justify-between h-3.5 my-2 px-5"
                            >
                                <time
                                    class="font-medium text-black font-dmsans text-xxs"
                                    datetime="{{date format="YYYY-MM-DD"}}"
                                >
                                    {{date format="MMMM DD, YYYY"}}
                                </time>
                                <div class="flex flex-row">
                                    <a class="mx-0.5" href="#"><img
                                            src="{{asset "img/Bookmark.svg"}}"
                                            alt="bookmark"
                                        /></a>
                                    <a class="mx-0.5" href="#"><img
                                            src="{{asset "img/Share.svg"}}"
                                            alt="share"
                                        /></a>
                                </div>
                            </div>
                        </header>
                        <main class="px-5 my-5">
                            <a href="{{featured_post.url}}">
                                <h5 class="text-sm font-medium font-dmsans">
                                    {{featured_post.title}}
                                </h5>
                            </a>
                        </main>
                        <footer class="my-2">
                            <ul class="flex flex-row flex-wrap justify-evenly">
                                {{#foreach featured_post.tags}}
                                    <li
                                        class="inline-flex flex-row self-center my-1 text-left text-gray-500 align-middle text-xxs"
                                    >
                                        {{name}}<span class="text-black text-sm"> &bull; &nbsp;</span>
                                    </li>
                                {{/foreach}}
                            </ul>
                        </footer>
                    </article>
                </div>
            {{/foreach}}
        </div>
        {{pagination}}
    </section>
{{/get}}