{{!< default}}
{{#post}}
    <section class="flex flex-row items-end justify-center about-intro mt-9">
        <div class="relative block w-64 h-64">
            <div class="h-20"></div>
            {{#if feature_image}}
                <img
                    class="absolute z-20 w-64 h-64 rounded-full top-1 right-1"
                    src="{{feature_image}}"
                    alt="headshot"
                />
            {{else}}
                <img
                    class="absolute z-20 h-40 top-1 right-1"
                    src="{{asset "img/user.svg"}}"
                    alt="headshot"
                />
            {{/if}}
            <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            <img
                class="absolute left-0 z-0 top-4 h-30"
                src="{{asset "img/purp_blob.svg"}}"
                alt="a purple blob"
            />
            <img
                class="absolute top-0 right-0 z-0 h-24"
                src="{{asset "img/yellow_blob.svg"}}"
                alt="another blob but this time it's yellow"
            />
        </div>
        <h2 class="ml-3 text-2xl font-bold font-dmsans">{{title}}</h2>
    </section>
    <section
        class="m-8 text-xs font-normal leading-6 prose-sm prose text-black font-dmsans sm:prose lg:prose-lg xl:prose-xl"
    >
        {{content}}

    </section>
    {{!-- <!-- Work with me form -->
    <section class="px-5 py-6 m-8 rounded-md bg-purple-conic">
        <h3 class="text-sm font-bold text-white font-dmsans">Work with me</h3>
        <form
            class="flex flex-col mt-6 text-xs font-normal text-white font-dmsans"
        >
            <label class="mt-6 mb-3" for="fullName">Full-Name</label>
            <input id="fullName" type="text" class="rounded-md" />

            <label class="mt-6 mb-3" for="email">Email Address</label>
            <input id="email" type="email" class="rounded-md" />

            <label class="mt-6 mb-3" for="message">Message</label>
            <textarea id="message" class="rounded-md"></textarea>

            <input
                class="self-center w-64 py-2 mt-8 text-base font-medium text-center text-white bg-black rounded-md font-montserrat"
                role="button"
                value="Submit"
            />
        </form>
    </section>
    <!-- ./work with me form --> --}}
{{else}}
    <p>Create a page with the slug "about" to display with the about me template</p>
{{/post}}